<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Clock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Clock.Properties.Settings>
            <setting name="screenPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="beepOnHour" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rememberScreenPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hourSound" serializeAs="String">
                <value>c:\Windows\Media\chimes.wav</value>
            </setting>
            <setting name="intervalSound" serializeAs="String">
                <value>c:\Windows\Media\alarm01.wav</value>
            </setting>
            <setting name="int05" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="int10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="int15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="int20" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="int25" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="int30" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="int35" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="int40" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="int45" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="int50" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="int55" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="quietStart" serializeAs="String">
                <value>01/01/2000 21:00:00</value>
            </setting>
            <setting name="quietEnd" serializeAs="String">
                <value>07/08/2015 09:00:00</value>
            </setting>
            <setting name="quietTime" serializeAs="String">
                <value>False</value>
            </setting>
        </Clock.Properties.Settings>
    </userSettings>
</configuration>